{{ define "module:forum:page:create-forum" }}
<form class="std-box std-column" method="POST" action="{{ $.RawData.SaveLink }}" enctype="multipart/form-data">
    <b style="align-self: center;">Название форума</b>
    <input class="std" name="forum-name" />
    <button type="submit" class="std">Создать</button>
</form>
{{ end }}