div.content-reactions {
  display: flex;
  flex-direction: row;
  gap: 5px 5px;
}

div.content-reactions a.content-reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
}

div.content-reactions a.content-reaction[used="true"] {
  color: var(--color-sucess-text);
  border-color: var(--color-sucess-text);
}

div.content-reactions img.content-reaction {
  max-width: 30px;
  max-height: 30px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid var(--color-text);
  box-sizing: border-box;
  margin: 1px; /* TODO: не самое чистое решение, переделать на гриды */
}

div.content-reactions a.content-reaction[used="true"] img.content-reaction {
  color: var(--color-sucess-text);
  border: 2px solid var(--color-sucess-text);
  margin: 0px;
}

div.content-reactions span.new-content-reaction {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid var(--color-text);
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

div.content-reactions div.content-reaction-creator {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.content-reactions div.content-reaction-lu {
  display: flex;
  align-items: center;
  margin: 7px;
  border-radius: 5px;
  cursor: pointer;
}

div.content-reactions div.content-reaction-lu[selected] {
  border: 2px solid var(--color-sucess-text);
  margin: 5px;
}

div.content-reactions img.content-reaction-lu {
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
}
