{{ define "module:webserver:page" }}
  {{ template "page:start" $ }}
      {{ if eq $.TemplatePageName "module:webserver:page:design" }}
        {{ template "module:webserver:page:design" $}}
      {{ else if eq $.TemplatePageName "module:webserver:page:modules" }}
        {{ template "module:webserver:page:modules" $}}
      {{ else if eq $.TemplatePageName "module:webserver:page:menu" }}
        {{ template "module:webserver:page:menu" $}}
      {{ end }}
  {{ template "page:end" $ }}
{{ end }}