{{ define "module:auth:page:group-list" }}
<style>
    div.group-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.group-details {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    b.group-name {
        font-size: larger;
        flex-grow: 1;
    }

    i.group-description {
        font-size: small;
    }
</style>

<a class="std-fake-button" href="{{ $.RawData.CreateNewLink }}">Создать новую</a>

<div class="group-list">
    {{ range $.RawData.Groups }}
    <div class="std-box std-column">
        <b class="group-name">{{ .Name }}</b>
        {{ if .Description }}<i class="group-description">{{ .Description }}</i>{{ end }}
        <div class="group-details">
            <span>Создана</span>
            <b>{{ template "pretty_time" .Created }}</b>
            <span>Автодобавление</span>
            <b>{{ .AutoAppend }}</b>
            <span>Пользователей</span>
            <b>{{ .UserCount }}</b>
            <span>Прав</span>
            <b>{{ .PermissionCount }}</b>
        </div>
        <a class="std-fake-button" href="{{ .EditorLink }}">Редактировать</a>
    </div>
    {{ end }}
</div>
{{ end }}