div.content-tag-list {
  display: flex;
  gap: 5px 5px;
  flex-wrap: wrap;
}

a.content-tag-unit,
span.content-tag-unit {
  padding: 3px;
  border-radius: 3px;
  font-size: smaller;
}

a.content-tag-unit {
  text-decoration: none;
  color: var(--color-text);
}
