{{ define "module:content:page:tag-list" }}
{{ with $.RawData }}
    <style>
        div.tag-list {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 10px 5px;
            align-items: center;
        }
    
        span.tag-color {
            width: 20px;
            height: 20px;
            /* display: inline-block; */
            border-radius: 5px;
        }
    </style>
    <div class="std-box std-column">
        <a class="std-fake-button" href="{{ .NewLink }}">Новый</a>
        <div class="tag-list">
        {{ range .Tags }}
            <span>{{ .Tag }}</span>
            <span class="tag-color" style="background-color: {{ .Color }};"></span>
            <span class="tag-color" style="background-color: {{ .TextColor }};"></span>
            <a class="std-fake-button" href="{{ .EditorLink }}">Редактировать</a>
        {{ end }}
        </div>
    </div>
{{ end }}
{{ end }}