{{ define "module:file:page:file-list" }}
<style>
    img.file-preview {
        max-width: 50px;
        max-height: 50px;
    }

    span.file-status-red {
        color: var(--color-red);
        font-weight: bold;
    }

    span.file-status-green {
        color: var(--color-green);
        font-weight: bold;
    }

</style>
<div class="std-box">
    Всего {{ $.RawData.Total.Count }} файлов, занимают {{ $.RawData.Total.PrettySize }}
</div>
<table class="std-data">
    <thead>
        <tr>
            <td>Превью</td>
            <td>Время создания файла</td>
            <td>Токен файла</td>
            <td>Файл загружен</td>
            <td>Название файла</td>
            <td>MIME тип файла</td>
            <td>Размер файла</td>
            <td>Время последнего обновления (загрузки) файла</td>
            <td>Время последнего использования (обращения) файла</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        {{ range $.RawData.List }}
        <tr>
            <td>
                {{ if and .IsImage .Loaded }}
                    <img class="file-preview" src="{{ .URL }}" />
                {{ end }}
            </td>
            <td>{{ template "pretty_time" .Created }}</td>
            <td>{{ .Token }}</td>
            <td>
                {{ if .Loaded }}
                    <span class="file-status-green">Да</span>
                {{ else }}
                    <span class="file-status-red">Нет</span>
                {{ end }}
            </td>
            <td>{{ if .Name }}{{ .Name }}{{ end }}</td>
            <td>{{ if .Mime }}{{ .Mime }}{{ end }}</td>
            <td>{{ if .Size }}{{ .PrettySize }}{{ end }}</td>
            <td>{{ if .Updated }}{{ template "pretty_time" .Updated }}{{ end }}</td>
            <td>{{ if .Used }}{{ template "pretty_time" .Used }}{{ end }}</td>
            <td>            
                <form method="POST" action="{{ $.RawData.SaveLink }}" enctype="multipart/form-data" class="std-column">
                    <input value="{{ .Token }}" name="token" type="hidden" />
                    <button class="std red" name="at" value="delete" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<div class="std-fake-box">
    {{ template "pagination" $.RawData.Pages }}
</div>
{{ end }}