div.main-errors {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

div.error-info {
  background-color: var(--color-error-background);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 2px 6px var(--color-shadow);
}
