div.fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-fullscreen);
  overflow: scroll;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

div.fullscreen[hide] {
  visibility: hidden;
}
