:root {
  --c-0: #000;
  --c-1: #a1c1ff;
  --c-2: #c4ddff;
  --c-3: #e0eaff;
  --c-4: #ff715b;
  --color-menu-unit: var(--c-2);
  --color-shadow: #00000047;
  --color-body: var(--c-3);
  --color-text: var(--c-0);
  --color-header: var(--c-1);
  --color-footer: var(--c-1);
  --color-error-background: var(--c-4);
  --color-sucess-text: #008000;
  --color-empty-avatar: #4d1272;
  --color-paginator: var(--c-1);
  --color-paginator-current: var(--c-3);
  --color-box: var(--c-3);
  --color-button-bg: var(--c-1);
  --color-red: #ff826e;
  --color-green: #1fcd54;
  --color-table: var(--c-3);
  --color-table-grid: #67abff;
  --color-table-header: #5c87db;
  --color-table-line: var(--c-2);
  --color-table-hover: var(--c-1);
  --color-fullscreen: #e0eaff97;
  --font-family: system-ui;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-family);
}

div.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.footer {
  background-color: var(--color-footer);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 6px var(--color-shadow);
  margin-top: 10px;
}