:root {
  --markdown-code-bg-color: #add8e6;
  --markdown-quote-bg-color: #94d7ef;
  --markdown-quote-border-color: #5ba8c1;
}

code.markdown {
  background-color: var(--markdown-code-bg-color);
  padding: 2px;
  border-radius: 2px;
}

pre.markdown {
  background-color: var(--markdown-code-bg-color);
  padding: 10px;
  border-radius: 10px;
}

pre.markdown-single-quote {
  font-family: var(--font-family);
  margin: 0px;
}

blockquote.markdown {
  border-left: 5px solid var(--markdown-quote-border-color);
  margin: 0px;
  padding: 5px;
  border-radius: 3px;
  padding-left: 20px;
  background-color: var(--markdown-quote-bg-color);
}
