{{ define "module:comment:page:edit-message" }}
    <form class="std-box std-column" method="POST" action="{{ $.RawData.SaveLink }}" enctype="multipart/form-data">
        <h2>Редактирование сообщения</h2>
        <input name="message-id" type="hidden" value="{{ $.RawData.MessageID }}"/>
        <input name="redirect" type="hidden" value="{{ $.RawData.RedirectLink }}"/>
        <h3>Текст сообщения</h3>
        <textarea class="std" name="message-text" rows="10" cols="50">{{ $.RawData.Text }}</textarea>
        <h4>Разметка сообщения</h4>
        <select class="std" name="message-dialect">
            <option value=""></option>
            {{ range $.RawData.Dialects }}
                <option value="{{ . }}" {{ if eq $.RawData.Dialect . }}selected{{ end }}>{{ . }}</option>
            {{ end }}
        </select>
        <div style="margin-top: 50px;">
            <button type="submit" class="std">Сохранить</button>
        </div>
    </form>
{{ end }}